<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="head"></div>

    <main class="home">
      <article class="home_banner"></article>

      <article class="home_content">
        <div class="container content">
          <div class="content_title">
            <h1>Sản phẩm giày nổi bật</h1>
            <a href="#" class="content_sup">
              <span>Xem thêm</span>
            </a>
          </div>
          <div class="product_list" id="product_list--noibat"></div>
        </div>

        <div class="container content">
          <div class="content_title">
            <h1>Sản phẩm giày mới nhất</h1>
            <a href="#" class="content_sup">
              <span>Xem thêm</span>
            </a>
          </div>
          <div class="product_list" id="product_list--moinhat"></div>
        </div>

        <div class="container content">
          <div class="content_title">
            <h1>Sản phẩm giày xem nhiều</h1>
            <a href="#" class="content_sup">
              <span>Xem thêm</span>
            </a>
          </div>
          <div class="product_list" id="product_list--luotxem"></div>
        </div>
      </article>

      <article class="home_content post_content">
        <div class="container post">
          <div class="content_title">
            <h1>Bài viết mới nhất</h1>
          </div>

          <div class="post_list">
            <div class="post_item">
              <div class="post_img">
                <a><img src="../../public/images/jd-2.jfif" alt="" /></a>
              </div>
              <div class="post_time">
                <span>Thứ ba 06/10/2021</span>
              </div>
              <div class="post_title">
                <p>Replica là gì ? Phân biệt hàng Replica , Fake và ...</p>
              </div>
              <div class="post_detail">
                <p>
                  Hàng replica là hàng gì? Khác với hàng Authentic ra sao? Luôn
                  là những thắc mắc chưa hồi đáp của nhiều bạn hiện nayBởi đối
                  với thị trường giày thật...
                </p>
              </div>
            </div>
            <div class="post_item">
              <div class="post_img">
                <a
                  ><img src="../../public/images/final_nike_poster.jpg" alt=""
                /></a>
              </div>
              <div class="post_time">
                <span>Thứ ba 06/10/2021</span>
              </div>
              <div class="post_title">
                <p>Replica là gì ? Phân biệt hàng Replica , Fake và ...</p>
              </div>
              <div class="post_detail">
                <p>
                  Hàng replica là hàng gì? Khác với hàng Authentic ra sao? Luôn
                  là những thắc mắc chưa hồi đáp của nhiều bạn hiện nayBởi đối
                  với thị trường giày thật...
                </p>
              </div>
            </div>
            <div class="post_item">
              <div class="post_img">
                <a
                  ><img
                    src="../../public/images/banner-quang-cao-giay-12.png"
                    alt=""
                /></a>
              </div>
              <div class="post_time">
                <span>Thứ ba 06/10/2021</span>
              </div>
              <div class="post_title">
                <p>Replica là gì ? Phân biệt hàng Replica , Fake và ...</p>
              </div>
              <div class="post_detail">
                <p>
                  Hàng replica là hàng gì? Khác với hàng Authentic ra sao? Luôn
                  là những thắc mắc chưa hồi đáp của nhiều bạn hiện nayBởi đối
                  với thị trường giày thật... Hàng replica là hàng gì? Khác với
                  hàng Authentic ra sao? Luôn là những thắc mắc chưa hồi đáp của
                  nhiều bạn hiện nayBởi đối với thị trường giày thật...
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="sneaker_form">
        <div class="form_register">
          <div class="register_title">
            <h2>Đăng ký</h2>
          </div>
          <div class="register_sup">
            <p>
              Đăng ký nhận bản tin của Nike để cập nhật những sản phẩm mới, nhận
              thông tin ưu đãi đặc biệt và thông tin giảm giá khác.
            </p>
          </div>
          <form class="register_form">
            <input
              type="text"
              placeholder="Nhập email của bạn"
              class="form_input register_input"
            />
            <button class="register_button">Gửi</button>
          </form>
        </div>
      </article>
    </main>

    <footer></footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script type="module" src="../../public/javascripts/app.js"></script>
</html>
